/* 
    Author     : Samuel Allen
*/

.root
{
    -fx-font: 40px arial;
    -fx-fill: #252827;
    -fx-text-fill: #252827;
    -fx-background-color: transparent;
}

#cellLabel
{
    -fx-text-fill: #252827;
}

#topBarPane
{
    -fx-background-color: #EDEDED;
    -fx-border-color: #B7B5B8;
    -fx-border-width: 0 0 1 0;
}

#topBarPane #topBarPaneText
{
    -fx-font-weight: bold;
    -fx-fill: #B7B5B8;
}

#listCellButton
{
    -fx-background-color: #252827;
}

#listCellButtonPressed
{
    -fx-background-color: #50D1E8;
}

.list-view
{
    -fx-background-color: transparent;
}

.list-view .scroll-bar
{
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell
{
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-cell:filled:selected
{
    -fx-text-fill: #252827;
}